* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Now Var";
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work {
  
    width: 100vw;
    height: 100vh;
    background: rgb(28, 28, 28);
}

.overlay{
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10em;
    transition: 1s;
}

h1{
    color: white;
    opacity: 0.5;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.025em;
    text-align: center;
    align-items: center;
}
